<h4>Breed: <span class="text-green-700"><%= @breed_name&.titleize %></span></h4>
<% if @dog_image_url.present? %>
  <img src="<%= @dog_image_url %>">
<% else %>
  <h4><em>No Dogs Found.</em></h4>
<% end %>